<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>

<body>
    <p class="c-email__content__text text-title">
        Contacto de portfolio
    </p>
    <span class="c-email__code__text">{{ from }}</span>
    <span class="c-email__code__text">{{ name }}</span>
    <span class="c-email__code__text">{{ subject }}</span>
    <span class="c-email__code__text">{{ message }}</span>
</body>

</html>