@import url("./tailwind.css");

body {
  background-image: url("../images/top-view-arrangement-natural-material-stationery.jpg");
  background-size: cover;
  background-position: bottom;
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}